$font: 'Rubik', sans-serif;

$blue-600: hsl(231, 69%, 60%);
$red-400: hsl(0, 94%, 66%);
$grey-50: hsl(0, 0%, 97%);
$blue-950: hsl(229, 31%, 21%);
$text: hsl(0, 0%, 60%);

@mixin breakpoint($size) {
  @if $size == tablet {
    @media only screen and (min-width: 48em){
      @content;
    }
  } 
  @else if $size == desktop{
    @media only screen and (min-width: 62em){
      @content;
    }
  }
}

@mixin text-style($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin bg-shape($left, $right, $top-left, $top-right, $bottom-left, $bottom-right){
  z-index: -1;
  position: absolute;
  left: $left;
  right: $right;
  bottom: -0.5em;
  width: 85%;
  height: 80%;
  background-color: $blue-600;

  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-left-radius: $bottom-left;
  border-bottom-right-radius: $bottom-right;
}

@mixin text-style($size, $weight){
  font-size: $size;
  font-weight: $weight;
  line-height: 1.5;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.cursor-pointer{
  cursor: pointer;
}

.hidden{
  display: none;
}

.header{
  margin: 0;
  color: $blue-950;
  @include text-style(1.5em, 500);
  line-height: 1.2;
}

.text{
  margin: 0;
  color: $text;
  @include text-style(0.9em, 400);
  line-height: 1.75;
}

button{
  font-family: $font;
  cursor: pointer;
}

.button{
  font-weight: 500;
  width: 100%;
  padding: 1em;
  color: $grey-50;
  background-color: $blue-600;
  border: none;
  border-radius: 5px;
}

.more-info-btn{
  width: initial;
  margin-block: 2em;
  padding-inline: 1.5em;
}

figure{
  margin-inline: 0;
}

img{
  width: 100%;
} 

body{
  margin: 0;
  padding: 0;
  font-family: $font;
  background-color: $grey-50;
}

.header-container{
  z-index: 4;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  .header-wrapper{
    position: relative;
    background-color: $grey-50;
    padding: 2.3em 1.7em;
    margin-bottom: 1em;
  }
}

.mobile-nav-wrapper{
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(37, 43, 70, 0.9);
  padding-inline: 1.7em;

  .mobile-nav-container{
    margin-block: 2.3em;

    .mobile-nav-list{
      margin-top: 2.3em;

      &>*{
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $grey-50;
      }

      hr{
        margin: 0;
        width: 100%;
        border: none;
        border-top: 1px solid rgba(247, 247, 247, 0.3);
      }

      .mobile-nav-link{
        text-decoration: none;
        margin-block: 1.1em;
        @include text-style(1.2em, 200);
      }

      .mobile-nav-login-btn{
        border: 3px solid $grey-50;
        border-radius: 6px;
        background-color: transparent;
        padding-block: 0.6em;
        font-family: $font;
        @include text-style(1.1em, 400);
        margin-block-start: 1.3em;
      }
    }
  }

  .mobile-nav-socials{
    column-gap: 2em;
    margin-bottom: 2.5em;
  }
}

.main-wrapper{
  text-align: center;
  row-gap: 7em;
  padding-inline: 0.7em;

  .hero-section{
    .hero-section-img{
      position: relative;
      margin-bottom: 3em;

      .bg-shape{
        @include bg-shape(initial, -1em, 0%, 0%, 35%, 0%);
      }
    }

    .hero-section-info{
      padding-inline: 1.5em;
      row-gap: 1em;

      h1{
        font-size: 1.8em;
      }

      .button-container{
        column-gap: 1em;
        margin-top: 1em;
        &>button:last-child{
          background-color: $grey-50;
          color: rgb(82, 82, 82);
          box-shadow: 0 2px 2px rgb(170, 178, 202);
        }
      }
    }
  }

  .features-section{
    padding-inline: 1.5em;
    h2{
      margin-bottom: 0.5em;
    }

    .features-info-section{
      .feature-option-list{
        margin-block: 2.5em;

        .feature-option{
          padding-block: 1em;
          border: none;
          border-bottom: 1px solid $text;
          width: 100%;
          background-color: transparent;
          @include text-style(1em, 400);

          span{
            padding-block: 1em;
            position: relative;
            color: rgb(122, 122, 146);

            &::after{
              content: '';
              transform: translate(-50%, -50%);
              position: absolute;
              left: 50%;
              bottom: -5px;
              width: 0;
              height: 4px;
              background-color: $red-400;
            }
          }

          &:hover{
            span{
              color: $blue-950;
              &::after{
                width: 90%;
              }
            }
          }
        }
        
        .option-active{
          span{
            color: $blue-950;
            &::after{
              width: 90%;
            }
          }
        }

        .feature-option:first-child{
          border-top: 1px solid $text;
        }
      }

      .feature-option-info{
        figure{
          position: relative;
          margin-block: 2.5em;
          .bg-shape{
            @include bg-shape(-2.5em, initial, 0%, 70%, 0%, 35%);
            bottom: -2em;
            width: 100%;
            height: 100%;
          }
        }

        section{
          margin-top: 5em;
        }
      }
    }
  }

  .download-section{
    padding-inline: 1.5em;

    h2{
      margin-bottom: 0.5em;
    }

    .extension-list{
      margin-top: 2em;
      row-gap: 2em;

      .extension{
        border-radius: 20px;
        box-shadow: 0 4px 7px 2px rgba(198, 205, 226, 0.7);

        figure{
          img{
            width: 50%;
          }
        }

        .upper-div{
          padding: 2em 3em;

          h2{
            font-size: 1.2em;
          }
        }

        .lower-div{
          padding: 1.5em;
          border-top: 5px dotted rgb(221, 221, 221);
        }
      }
    }
  }

  .fequently-questions-section{
    padding-inline: 1.2em;

    h2{
      margin-bottom: 1em;
    }

    .question-list{
      text-align: initial;
      margin-block: 2em 1em;

      .question-container{
        cursor: pointer;
        padding-block: 1em;
        border-bottom: 1px solid $text;
        .question{
          @include text-style(0.9em, 400);
          color: $blue-950;
        }

        .answer{
          @include text-style(0.9em, 400);
          color: rgb(116, 116, 145);
          line-height: 2;
          margin-block: 1.5em;
        }

        .answer-active{
          transform: rotate(180deg);
          path{
            stroke: $red-400;
          }
        }
      }
    }
  }
}

.footer-wrapper{
  text-align: center;

  .contact-section{
    background-color: $blue-600;
    color: $grey-50;
    padding-block: 3.5em;
    padding-inline: 1.5em;

    .sub-header{
      text-transform: uppercase;
      @include text-style(0.7em, 400);
      letter-spacing: 5px;
    }

    h2{
      color: $grey-50;
    }

    .email-submit{
      margin-top: 2em;
      width: 100%;
      row-gap: 1em;

      input, button{
        width: inherit;
      }

      .email-input{
        padding: 1em;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;

        &::placeholder{
          color: rgb(203, 203, 203);
        }
      }

      .contact-btn{
        background-color: $red-400;
      }
    }
  }

  .footer-navi{
    row-gap: 2em;
    background-color: $blue-950;
    color: $grey-50;
    padding-block: 2em;

    .footer-navi-link{
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $grey-50;
      text-decoration: none;
      @include text-style(0.9em, 200);
    }

    .footer-socials{
      column-gap: 2em;
    }
  }
}