.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  margin: 0;
  color: hsl(229, 31%, 21%);
}

.text {
  margin: 0;
  color: hsl(0, 0%, 60%);
}

.button {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 1em;
  color: hsl(0, 0%, 97%);
  background-color: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  position: relative;
}

.header-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsl(0, 0%, 97%);
  padding: 2.3em 1.7em;
}

.mobile-nav-wrapper {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(37, 43, 70, 0.9);
  padding-inline: 1.7em;
}
.mobile-nav-wrapper .mobile-nav-container {
  margin-block: 2.3em;
}
.mobile-nav-wrapper .mobile-nav-container .mobile-nav-list {
  margin-top: 2.3em;
}
.mobile-nav-wrapper .mobile-nav-container .mobile-nav-list > * {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: hsl(0, 0%, 97%);
}
.mobile-nav-wrapper .mobile-nav-container .mobile-nav-list hr {
  margin: 0;
  width: 100%;
  border: none;
  border-top: 1px solid rgba(247, 247, 247, 0.3);
}
.mobile-nav-wrapper .mobile-nav-container .mobile-nav-list .mobile-nav-link {
  text-decoration: none;
  margin-block: 1.1em;
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.5;
}
.mobile-nav-wrapper .mobile-nav-container .mobile-nav-list .mobile-nav-login-btn {
  border: 3px solid hsl(0, 0%, 97%);
  border-radius: 6px;
  background-color: transparent;
  padding-block: 0.6em;
  font-family: "Rubik", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5;
  margin-block-start: 1.3em;
}
.mobile-nav-wrapper .mobile-nav-socials {
  column-gap: 2em;
  margin-bottom: 2.5em;
}

.main-wrapper {
  text-align: center;
  row-gap: 7em;
}
.main-wrapper .hero-section .hero-section-img {
  position: relative;
  margin-inline: 0;
}
.main-wrapper .hero-section .hero-section-img img {
  width: 100%;
}
.main-wrapper .hero-section .hero-section-img .bg-shape {
  z-index: -1;
  position: absolute;
  left: initial;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  background-color: hsl(231, 69%, 60%);
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 0%;
}
.main-wrapper .hero-section .hero-section-info {
  padding-inline: 1.5em;
  row-gap: 1.5em;
}
.main-wrapper .hero-section .hero-section-info h1 {
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.5;
}
.main-wrapper .hero-section .hero-section-info p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
.main-wrapper .hero-section .hero-section-info .button-container {
  column-gap: 1em;
  margin-top: 0.7em;
}
.main-wrapper .hero-section .hero-section-info .button-container > button:last-child {
  background-color: hsl(0, 0%, 97%);
  color: rgb(82, 82, 82);
  box-shadow: 0 2px 2px rgb(170, 178, 202);
}/*# sourceMappingURL=styles.css.map */