.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  margin: 0;
  color: hsl(229, 31%, 21%);
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5;
  line-height: 1.2;
}

.text {
  margin: 0;
  color: hsl(0, 0%, 60%);
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5;
  line-height: 1.75;
}

.button {
  font-weight: 500;
  width: 100%;
  padding: 1em;
  color: hsl(0, 0%, 97%);
  background-color: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
}

.more-info-btn {
  width: initial;
  margin-block: 2em;
  padding-inline: 1.5em;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  margin: 0;
  color: hsl(229, 31%, 21%);
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5;
  line-height: 1.2;
}

.text {
  margin: 0;
  color: hsl(0, 0%, 60%);
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5;
  line-height: 1.75;
}

.button {
  font-weight: 500;
  width: 100%;
  padding: 1em;
  color: hsl(0, 0%, 97%);
  background-color: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
}

.more-info-btn {
  width: initial;
  margin-block: 2em;
  padding-inline: 1.5em;
}

.header-container {
  z-index: 4;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.header-container .header-wrapper {
  position: relative;
  background-color: hsl(0, 0%, 97%);
  padding: 2.3em 1.7em;
  margin-bottom: 1em;
}
.header-container .header-wrapper .mobile-nav-wrapper {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(37, 43, 70, 0.9);
  padding-inline: 1.7em;
}
.header-container .header-wrapper .mobile-nav-wrapper .mobile-nav-container {
  margin-block: 2.3em;
}
.header-container .header-wrapper .mobile-nav-wrapper .mobile-nav-container .mobile-nav-list {
  margin-top: 2.3em;
}
.header-container .header-wrapper .mobile-nav-wrapper .mobile-nav-container .mobile-nav-list > * {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: hsl(0, 0%, 97%);
}
.header-container .header-wrapper .mobile-nav-wrapper .mobile-nav-container .mobile-nav-list hr {
  margin: 0;
  width: 100%;
  border: none;
  border-top: 1px solid rgba(247, 247, 247, 0.3);
}
.header-container .header-wrapper .mobile-nav-wrapper .mobile-nav-container .mobile-nav-list .mobile-nav-link {
  text-decoration: none;
  margin-block: 1.1em;
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.5;
}
.header-container .header-wrapper .mobile-nav-wrapper .mobile-nav-container .mobile-nav-list .mobile-nav-login-btn {
  border: 3px solid hsl(0, 0%, 97%);
  border-radius: 6px;
  background-color: transparent;
  padding-block: 0.6em;
  font-family: "Rubik", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5;
  margin-block-start: 1.3em;
}
.header-container .header-wrapper .mobile-nav-wrapper .mobile-nav-socials {
  column-gap: 2em;
  margin-bottom: 2.5em;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  margin: 0;
  color: hsl(229, 31%, 21%);
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5;
  line-height: 1.2;
}

.text {
  margin: 0;
  color: hsl(0, 0%, 60%);
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5;
  line-height: 1.75;
}

.button {
  font-weight: 500;
  width: 100%;
  padding: 1em;
  color: hsl(0, 0%, 97%);
  background-color: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
}

.more-info-btn {
  width: initial;
  margin-block: 2em;
  padding-inline: 1.5em;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  margin: 0;
  color: hsl(229, 31%, 21%);
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5;
  line-height: 1.2;
}

.text {
  margin: 0;
  color: hsl(0, 0%, 60%);
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5;
  line-height: 1.75;
}

.button {
  font-weight: 500;
  width: 100%;
  padding: 1em;
  color: hsl(0, 0%, 97%);
  background-color: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
}

.more-info-btn {
  width: initial;
  margin-block: 2em;
  padding-inline: 1.5em;
}

.hero-section .hero-section-img {
  position: relative;
  margin-bottom: 3em;
}
.hero-section .hero-section-img .bg-shape {
  z-index: -1;
  position: absolute;
  left: initial;
  right: -1em;
  bottom: -0.5em;
  width: 85%;
  height: 80%;
  background-color: hsl(231, 69%, 60%);
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 0%;
}
.hero-section .hero-section-info {
  padding-inline: 1.5em;
  row-gap: 1em;
}
.hero-section .hero-section-info h1 {
  font-size: 1.8em;
}
.hero-section .hero-section-info .button-container {
  column-gap: 1em;
  margin-top: 1em;
}
.hero-section .hero-section-info .button-container > button:last-child {
  background-color: hsl(0, 0%, 97%);
  color: rgb(82, 82, 82);
  box-shadow: 0 2px 2px rgb(170, 178, 202);
}

.main-wrapper {
  text-align: center;
  row-gap: 7em;
  padding-inline: 0.7em;
}
@media only screen and (min-width: 62em) {
  .main-wrapper .hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .main-wrapper .hero-section .hero-section-img {
    grid-area: 1/2;
  }
  .main-wrapper .hero-section .hero-section-info {
    grid-area: 1/1;
  }
}
.main-wrapper .features-section {
  padding-inline: 1.5em;
}
.main-wrapper .features-section h2 {
  margin-bottom: 0.5em;
}
.main-wrapper .features-section .features-info-section .feature-option-list {
  margin-block: 2.5em;
}
.main-wrapper .features-section .features-info-section .feature-option-list .feature-option {
  padding-block: 1em;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 60%);
  width: 100%;
  background-color: transparent;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
.main-wrapper .features-section .features-info-section .feature-option-list .feature-option span {
  padding-block: 1em;
  position: relative;
  color: rgb(122, 122, 146);
}
.main-wrapper .features-section .features-info-section .feature-option-list .feature-option span::after {
  content: "";
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 4px;
  background-color: hsl(0, 94%, 66%);
}
.main-wrapper .features-section .features-info-section .feature-option-list .feature-option:hover span {
  color: hsl(229, 31%, 21%);
}
.main-wrapper .features-section .features-info-section .feature-option-list .feature-option:hover span::after {
  width: 90%;
}
.main-wrapper .features-section .features-info-section .feature-option-list .option-active span {
  color: hsl(229, 31%, 21%);
}
.main-wrapper .features-section .features-info-section .feature-option-list .option-active span::after {
  width: 90%;
}
.main-wrapper .features-section .features-info-section .feature-option-list .feature-option:first-child {
  border-top: 1px solid hsl(0, 0%, 60%);
}
.main-wrapper .features-section .features-info-section .feature-option-info figure {
  position: relative;
  margin-block: 2.5em;
}
.main-wrapper .features-section .features-info-section .feature-option-info figure .bg-shape {
  z-index: -1;
  position: absolute;
  left: -2.5em;
  right: initial;
  bottom: -0.5em;
  width: 85%;
  height: 80%;
  background-color: hsl(231, 69%, 60%);
  border-top-left-radius: 0%;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 35%;
  bottom: -2em;
  width: 100%;
  height: 100%;
}
.main-wrapper .features-section .features-info-section .feature-option-info section {
  margin-top: 5em;
}
.main-wrapper .download-section {
  padding-inline: 1.5em;
}
.main-wrapper .download-section h2 {
  margin-bottom: 0.5em;
}
.main-wrapper .download-section .extension-list {
  margin-top: 2em;
  row-gap: 2em;
}
.main-wrapper .download-section .extension-list .extension {
  border-radius: 20px;
  box-shadow: 0 4px 7px 2px rgba(198, 205, 226, 0.7);
}
.main-wrapper .download-section .extension-list .extension figure img {
  width: 50%;
}
.main-wrapper .download-section .extension-list .extension .upper-div {
  padding: 2em 3em;
}
.main-wrapper .download-section .extension-list .extension .upper-div h2 {
  font-size: 1.2em;
}
.main-wrapper .download-section .extension-list .extension .lower-div {
  padding: 1.5em;
  border-top: 5px dotted rgb(221, 221, 221);
}
.main-wrapper .fequently-questions-section {
  padding-inline: 1.2em;
}
.main-wrapper .fequently-questions-section h2 {
  margin-bottom: 1em;
}
.main-wrapper .fequently-questions-section .question-list {
  text-align: initial;
  margin-block: 2em 1em;
}
.main-wrapper .fequently-questions-section .question-list .question-container {
  cursor: pointer;
  padding-block: 1em;
  border-bottom: 1px solid hsl(0, 0%, 60%);
}
.main-wrapper .fequently-questions-section .question-list .question-container .question {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(229, 31%, 21%);
}
.main-wrapper .fequently-questions-section .question-list .question-container .answer {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(116, 116, 145);
  line-height: 2;
  margin-block: 1.5em;
}
.main-wrapper .fequently-questions-section .question-list .question-container .answer-active {
  transform: rotate(180deg);
}
.main-wrapper .fequently-questions-section .question-list .question-container .answer-active path {
  stroke: hsl(0, 94%, 66%);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  margin: 0;
  color: hsl(229, 31%, 21%);
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5;
  line-height: 1.2;
}

.text {
  margin: 0;
  color: hsl(0, 0%, 60%);
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.5;
  line-height: 1.75;
}

.button {
  font-weight: 500;
  width: 100%;
  padding: 1em;
  color: hsl(0, 0%, 97%);
  background-color: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
}

.more-info-btn {
  width: initial;
  margin-block: 2em;
  padding-inline: 1.5em;
}

.footer-wrapper {
  text-align: center;
}
.footer-wrapper .contact-section {
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 97%);
  padding-block: 3.5em;
  padding-inline: 1.5em;
}
.footer-wrapper .contact-section .sub-header {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 5px;
}
.footer-wrapper .contact-section h2 {
  color: hsl(0, 0%, 97%);
}
.footer-wrapper .contact-section .email-submit {
  margin-top: 2em;
  width: 100%;
  row-gap: 1em;
}
.footer-wrapper .contact-section .email-submit input, .footer-wrapper .contact-section .email-submit button {
  width: inherit;
}
.footer-wrapper .contact-section .email-submit .email-input {
  padding: 1em;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}
.footer-wrapper .contact-section .email-submit .email-input::placeholder {
  color: rgb(203, 203, 203);
}
.footer-wrapper .contact-section .email-submit .contact-btn {
  background-color: hsl(0, 94%, 66%);
}
.footer-wrapper .footer-navi {
  row-gap: 2em;
  background-color: hsl(229, 31%, 21%);
  color: hsl(0, 0%, 97%);
  padding-block: 2em;
}
.footer-wrapper .footer-navi .footer-navi-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(0, 0%, 97%);
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 200;
  line-height: 1.5;
}
.footer-wrapper .footer-navi .footer-socials {
  column-gap: 2em;
}

button {
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}

figure {
  margin-inline: 0;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: hsl(0, 0%, 97%);
}/*# sourceMappingURL=styles.css.map */